@{
    ViewBag.Title = "Home Page";
}

<h1>ASP.NET MVC PHOTO ALBUM</h1>
<p>
    Welcome to this ASP.NET MVC Photo Viewer.  Please choose to visit @Html.ActionLink("our galleries", "Index", "Gallery") or browse @Html.ActionLink("all photos", "Index", "Photo").
</p>
